.form {
    justify-content: center;
    display: flex;
    form {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 3vh;
        width: 40%;
        input {
            font-family: Lato, sans-serif;
            border: 0;
            border-bottom: 1px solid lightgray;
            font-size: 2vh;
            text-align: center;
            margin: 1vh 0 0 0;
            margin-bottom: 2vh;
            padding-bottom: .5vh;
        }
        div {
            display: flex;
            justify-content: center;
            input {
                border: 1px solid lightgray;
                width: 58%;
                background-color: lightblue;
                padding: .75vh;
            }
        }
    }
}