#tables {
    display: flex;
    justify-content: center;
    table {
        border-collapse: collapse;
        background-color: lightblue;
        border: 1px solid lightgray;
        height: 40vh;
        width: 40vh;
        // margin: 5vh 5vh;
        tr {
            height: 1vh;
            td {
                border: 1px solid #80808036;
                height: 1vh;
                width: 1vh;
            }
            .occupied {
                background-color: lightgray;
                // height: 1vh;
            }
            .hit {
                background-color: #ff5722a3;;
            }
            .missed {
                background-color: #ffffff57;
            }
        }
    }
}



